<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8" />
        <titre>Bonjour de Symfony&nbsp;!</titre>
    </head>
    <body>
        <h1>Bonjour de Symfony&nbsp;!</h1>
    </body>
</html>

